.faixa {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5aba8d;
    padding: 20px;
}

.titulo {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

.icone {
    color: #b4e1e8;
    font-size: 28px;
    text-decoration: none;
}